.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $mobile-width) {
    min-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
