.modalFirst {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  margin: auto;
  background-color: rgba(146, 143, 143, 0.9);
}

.modalFirst--open {
  display: block;
}

.modal__wrapper {
  position: fixed;
  color: $text;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 450px;
  height: 626px;
  border-bottom: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  background-color: $white;

  @media (max-width: $mobile-width) {
    width: 300px;
    height: 625px;
  }
}

.modal__form {
  margin: 30px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.modal__input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.modal__label {
  width: 100%;
}

.modal__textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
  padding: 0;
  font-family: $main-font;
  height: 90px;
}

.modal__title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: $text;
  text-align: center;
  text-transform: uppercase;
  margin-top: 29px;
  margin-bottom: 14px;
  margin-left: 30px;
  margin-right: 30px; 
}

.modal__text {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 0 35px;
  text-align: center;

  @media (max-width: $mobile-width) {
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.modal__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 22px 0;
}

.modal__item {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
}

.modal__button {
  background-color: $text-hover;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-bold;
  cursor: pointer;
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 40px;
  border: 1px solid $text-hover;
  transition: opacity 0.5s ease;

  &:hover {
    background-color: $white;
    color: $text-hover;
  }

  &:active {
    background-color: $white;
    color: $text-hover;
  }

  &:focus {
    background-color: $white;
    color: $text-hover;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.captcha_wrapper {
  @media (max-width: $mobile-width) {
    transform: scale(0.77);
    transform-origin: 0 0;
    margin: 0 auto;
  }
}

.modal__close {
  position: absolute;
  top:14px;
  right: 15px;
  width: 15px;
  height: 15px;
  background-image: url('../../img/menu-close.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  cursor: pointer;
}
